* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: auto;
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}

div {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

h1 {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

body {
  background-color: #1e1e2e;
}
